@font-face {
 font-family: "Caveat";
 src: url("./Caveat/Caveat-Regular.ttf") format("truetype");
}

@font-face {
 font-family: "Dancing Script";
 src: url("./Dancing_Script/DancingScript-Regular.ttf") format("truetype");
}

@font-face {
 font-family: "Just Me Again Down Here";
 src: url("./Just_Me_Again_Down_Here/JustMeAgainDownHere.ttf") format("truetype");
}

@font-face {
 font-family: "Kalam";
 src: url("./Kalam/Kalam-Regular.ttf") format("truetype");
}

@font-face {
 font-family: "Kavivanar";
 src: url("./Kavivanar/Kavivanar-Regular.ttf") format("truetype");
}

@font-face {
 font-family: "Marck Script";
 src: url("./Marck_Script/MarckScript-Regular.ttf") format("truetype");
}

@font-face {
 font-family: "Sedgwick Ave";
 src: url("./Sedgwick_Ave/SedgwickAve-Regular.ttf") format("truetype");
}
