#app {
  height: 100%;
}
.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #f8f8f8;
  height: 60px;
  color: #3d464d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header button {
  border-radius: 10px;
  background: #eee;
  border: 1px solid #ccc;
  padding: 6px 12px;
  text-transform: uppercase;
  color: #9E9E9E;
  outline: none;
}

.App-header button.active {
  background-color: #ccc;
  border: 1px solid #eee;
  color: #000;
}

.App-intro {
  font-size: large;
  height: calc(100% - 60px);
}

code {
  color: #e73a37;
}

.scroll-container {
  height: 80vh;
  width: 100vw;
  display: flex;
}

.scroll-container > div {

}

.scroll-container .scroll-child {
  max-height: 100%;
  overflow-y: auto;
  flex: 1;
}

.cd-menu {
  display: flex;
  margin-right: auto;
  list-style: none;
  flex-direction: column;
}

@media (min-width: 768px) {
  .cd-menu {
    flex-direction: row;
  }

  .cd-menu li {
    margin-right: 7px;
  }
}
